<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8>
<title>Это лучший {{ http_host }}-сайт!</title>
</head>
<body bgcolor=grey>

<center><img src="butterfly.jpeg" width="735" height="413"></center>

<p><a href="https://{{ http_host }}.test.local/info.php">Посмотреть infophp</a></p>

</body>
</html>
