ETCD_LISTEN_PEER_URLS="http://{{ ansible_enp0s8.ipv4.address }}:2380,http://127.0.0.1:7001"
ETCD_LISTEN_CLIENT_URLS="http://127.0.0.1:2379, http://{{ ansible_enp0s8.ipv4.address }}:2379"
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ ansible_enp0s8.ipv4.address }}:2380"
ETCD_INITIAL_CLUSTER="etcd0=http://{{ ansible_enp0s8.ipv4.address }}:2380,"
ETCD_ADVERTISE_CLIENT_URLS="http://{{ ansible_enp0s8.ipv4.address }}:2379"
ETCD_INITIAL_CLUSTER_TOKEN="node1"
ETCD_INITIAL_CLUSTER_STATE="new"

# {{ ansible_enp0s8.ipv4.address }}

# {{ ansible_default_ipv4.address }}